* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: #ff9a4b;
  margin-bottom: 50px;
}

main {
  width: 960px;
  display: flex;
  margin: 0 auto;
}

.main-step {
  width: 300px;
  background-color: #eeeeee;
  padding: 10px;
  position: relative;
  margin-right: 30px;
}

.main-step:last-child {
  margin-right: 0;
}

.step {
  position: absolute;
  background-color: #ff9a4b;
  color: #ffffff;
  text-align: center;
  top: 0;
  left: 0;
}

.main-visual-image1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.main-visual-image2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.main-visual-image3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.main-visual-header {
  margin-top: 15px;
  margin-bottom: 5px;
}

footer {
  background-color: #aaaaaa;
  height: 50px;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  main {
    display: block;
    width: 100%;
  }

  .main-step {
    width: 90%;
    margin: 0 5% 20px 5%;
  }

  .main-step:last-child {
    margin-bottom: 0%;
  }
}
